@using Microsoft.AspNetCore.Identity
@using Explorevia.Models

@model List<Explorevia.Models.Hotel>

@if (Model != null)
{

    @foreach (var h in Model)
    {
        <div class="bg-white rounded-lg shadow p-4">
            <img src="@h.HotelImages.FirstOrDefault()?.ImageUrl" class="w-full h-48 object-cover rounded-lg" />
            <h2 class="mt-2 text-lg font-bold">@h.Name</h2>
            <p>@h.City</p>
            <p class="text-sm text-gray-600">@h.PricePerNight EGP / night</p>
            <p>⭐ @h.Rating</p>
        </div>
    }
}
else
{
    <p>No hotels available.</p>
}